* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.forgotpassword-container {
    height: 400px;
    margin: 75px auto;
    box-shadow: 0 0 15px;
}

.outer-row{
    height:400px;
}

.col-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fe9c8e6e;
}

.col-right {
    color: #fff;
    background-image: url("../Images/Reset password.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

h6 {
    color: #c05647;
}

.forgotpassword-link {
    text-decoration: none;
    color: #49ac83;
    float: left;
    font-weight: bolder;
}

.login-button {
    background-color: #c05647;
    color: #fff;
    font-weight: 500;
    float: right;
}

.form-label {
    font-weight: bold;
}

.hr {
    clear: both;
    margin-top: 10px;
}

@media only screen and (max-width: 500px) {
    .forgotpassword-container{
        width:100% !important;
    }
    .col-right {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .forgotpassword-container {
        width: 75% !important;
    }
}