
@{
    ViewBag.Title = "Event Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .container{
        width:500px;
        height:500px;
    }
</style>

<div class="container">
    <h2 class="text-center">Event Report</h2>
    <canvas id="myChart" width="200" height="200"></canvas>
</div>

